body{
    background-image: url(assets/image/img15.jpg);
    background-size: cover;
    font-family: 'Syne Tactile', cursive;
    font-size: 20px;
    font-weight: 900;
}

#sess1{
    width: 40%;
    margin-left: 680px;
    text-align: center;
 
    
}
#sess2{
    padding: 10px;
    border: 3px solid #b0c4dea6;
    border-radius: 20px;
    background-color: #b0c4dea6;
}

h1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color:#b0c4dea6;
    border-radius: 50px;
}

input{
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Syne Tactile', cursive;
    font-size: 20px;
    font-weight: 900;
    border: none;
    border-radius: 4px;
 
}
#submit{
    color: white;
    background-color: black;
    margin-bottom: 15px;
}

